@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixins.scss' as m;
@import '../../../../utils/styles/colors.scss';

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body {
    max-width: f.rem(800);
    width: 100%;
    padding: f.rem(40) f.rem(40) f.rem(30) f.rem(40);
    border-radius: f.rem(16);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    background-color: #fff;
    margin-bottom: f.rem(25);
}

.title {
    margin-bottom: f.rem(15);
}