@use 'sass:map';
@use '../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../utils/styles/colors.scss';

.bodyAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: f.rem(25);
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}