@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@use '../../utils/styles/mixins.scss' as m;
@import '../../utils/styles/colors.scss';

.wrapper {
    width: 100%;
    padding: f.rem(25) 0;
}

.button {
    @include m.button($padding: f.rem(12) f.rem(15) f.rem(12) f.rem(15),
        $width: f.rem(350),
        $borderRadius: f.rem(6),
        $border: 0,
        $backgroundColor: map.get($colors, 'amber'),
        $color: map.get($colors, 'white'));
    font-weight: 700;
}
