@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@import '../../../../utils/styles/adaptive.scss';
@import '../../../../utils/styles/colors.scss';

.wrapper {
    &:hover {
        transition: 0.6s linear;
        background-color: map.get($colors, 'darkGray');

        .itemIcon {
            transition: 0.6s linear;
            transform: rotate(12deg);
        }
    }
}

.itemIcon {
    transition: 0.6s linear;
    transform: rotate(0deg);
}

.wrapperDropDownMenu {
    top: 100%;
    left: 0;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    background-color: map.get($colors, 'charCoal');
    margin-top: f.rem(1);
    padding: f.rem(10) 0 f.rem(10) 0;
}

.item {

    color: map.get($colors, 'white');
    transition: 0.4s linear;
    display: block;
    padding: f.rem(10);

    &:hover {
        transition: 0.4s linear;
        background-color: map.get($colors, 'darkGray');
    }
}

.headerItem {
    display: flex;
    align-items: center;
}


//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media (max-width: map.get($adaptive, 'ExtraTablet')) {
    .list {
        white-space: nowrap;
    }
}

@media (max-width: map.get($adaptive, 'tablet')) {
    .headerItem {
        margin: 0;
    }

    .wrapperDropDownMenu {
        width: 100% !important;
    }
}

@media (max-width: map.get($adaptive, 'ExtraPhone')) {
    .itemIcon {
        max-width: f.rem(40);
        margin-right: f.rem(20);
    }
}