@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixins.scss' as m;
@import '../../../../utils/styles/colors.scss';
@import '../../../../utils/styles/adaptive.scss';

.container {
    margin-bottom: f.rem(25);
}

.title {
    margin-bottom: f.rem(20);
}

.text {
    margin-bottom: f.rem(20);
}

.containerButtons {
    display: flex;
    align-items: center;

    a,
    button {
        color: map.get($colors, 'black');
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 700;
        transition: 0.3s linear;

        &:hover {
            transition: 0.3s linear;
            color: map.get($colors, 'darkGray');
        }

        &:focus {
            transition: 0.3s linear;
            color: map.get($colors, 'darkGray');
        }

        &:active {
            transition: 0.3s linear;
            color: map.get($colors, 'darkGray');
        }
    }

    a:first-child {
        margin-right: f.rem(50);

        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 20px;
            background: url('../../../../assets/global/singleArrow.svg') 100%/100% no-repeat;
        }
    }

    a:last-child {
        padding: f.rem(15) f.rem(35);
        background-color: map.get($colors, 'amber');
        color: map.get($colors, 'white');
        border-radius: f.rem(12);

        transition: 0.3s linear;

        &:hover {
            transition: 0.3s linear;
            background-color: map.get($colors, 'amberExtra');
        }

        &:focus {
            transition: 0.3s linear;
            background-color: map.get($colors, 'amberExtra');
        }

        &:active {
            transition: 0.3s linear;
            background-color: map.get($colors, 'amberExtra');
        }

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 20px;
            background: url('../../../../assets/global/singleArrowWhite.svg') 100%/100% no-repeat;
            transform: rotate(-180deg) translate(-50%, 0);
        }
    }
}