@use 'sass:map';
@use '../../../utils/styles/functions.scss' as f;
@use '../../../utils/styles/mixins.scss' as m;
@import '../../../utils/styles/colors.scss';

.description {
    max-height: f.rem(600);
    width: 100%;
    min-width: 100%;
    resize: vertical;
}

.toolBar {
    margin-bottom: f.rem(10) !important;
}


.input {
    @include m.input($padding: f.rem(12) f.rem(15) f.rem(12) f.rem(15),
        $width: 100%,
        $borderRadius: f.rem(6),
        $border: 1px solid map.get($colors, 'gray'),
        $backgroundColor: map.get($colors, 'white'),
        $color: map.get($colors, 'black'));
    margin-bottom: f.rem(15);
}