@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@import '../../../../utils/styles/colors.scss';


.bodyLogo {
    display: inline-block;
    margin-right: f.rem(30);

    img {
        max-width: 80px;
        max-height: 80px;
        object-fit: cover;
    }
}

.itemBody {
    width: 100%;
    padding: f.rem(25) f.rem(30);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    color: map.get($colors, 'black');
    transition: 0.4s linear;

    &:hover {
        transition: 0.4s linear;
        background-color: map.get($colors, 'lightGray');
    }
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: f.rem(20);
}

.list {
    margin-bottom: f.rem(50);

    li {
        margin-bottom: f.rem(25);
        transition: 0.4s linear;

        &:hover {
            transition: 0.4s linear;
            transform: scale(1.01);
        }
    }
}

.bodyText {
    h3 {
        margin-bottom: f.rem(10);
    }
}


.bodyInfo {
    padding: f.rem(20) 0 0 0;
    border-top: f.rem(2) solid map.get($colors, 'black');
    display: flex;
    align-items: center;
}