@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import "../../utils/styles/colors.scss";

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

.background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}