@use 'sass:map';
@use '../../../utils/styles/functions.scss' as f;
@import '../../../utils/styles/colors.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: f.rem(25);
}

.moduleBody {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}