@use 'sass:map';
@use '../../../utils/styles/functions.scss' as f;
@import '../../../utils/styles/colors.scss';

.simplebar-track.simplebar-vertical {
    margin: 0 f.rem(2);
    width: 12px;
    background: transparent;
}

.simplebar-scrollbar:before {
    background-color: map.get($colors, 'amber');
    border-radius: 4px;
}

.simplebar-scrollbar.simplebar-visible:before:hover {
    background-color: map.get($colors, 'amber');
}