@use 'sass:map';
@use '../../../utils/styles/functions.scss' as f;
@use '../../../utils/styles/mixins.scss' as m;
@import '../../../utils/styles/colors.scss';

.formContainer {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    position: relative;
}