@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';

.wrapper {
    padding: f.rem(20) 0 f.rem(50) 0;
}

.body {
    padding: f.rem(50) f.rem(50) f.rem(50) f.rem(50);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: f.rem(50);
}

.description {
    margin-bottom: f.rem(25);
}

.mainIdeaText {
    span {
        font-weight: 700
    }
}

.phone {
    margin-bottom: f.rem(15);
}

.contacts {
    font-style: normal;

    p:first-child {
        margin-bottom: f.rem(10);
        font-weight: 700;
    }
}