@use 'sass:map';
@use '../../../../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../../../../utils/styles/colors.scss';

.list {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 100%;
    position: absolute;
    z-index: 10;

    li {
        display: flex;
        gap: f.rem(20);
        cursor: pointer;
        width: 100%;
        padding: f.rem(10) f.rem(20);
        transition: 0.3s linear;


        &:hover {
            background-color: map.get($colors, 'lightGray');
        }
    }
}

.containerItem {
    max-height: f.rem(250);
    background-color: map.get($colors, 'white');
    padding: f.rem(20) f.rem(0);
}