@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@use '../../utils/styles/mixins.scss' as m;
@import '../../utils/styles/colors.scss';

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: map.get($colors, 'lightGray');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: f.rem(25) 0 f.rem(25);
}

.title {
    font-weight: 700;
    margin-bottom: f.rem(15);
}

.text {
    max-width: f.rem(500);
    text-align: center;
    line-height: f.rem(30);
    margin-bottom: f.rem(25);
}


.buttonRedirect {
    text-align: center;
    color: map.get($colors, 'black');
    font-weight: 700;
}


.bodyExtraFunction {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
        margin: 0 f.rem(10) 0 0;
        width: 25px;
        height: 25px;
    }
}