@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: f.rem(50);
}