@use 'sass:map';
@use '../../../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../../../utils/styles/colors.scss';

.listImages {
    display: flex;
    gap: f.rem(20);
    margin: f.rem(25) 0 0 0;

    li {
        max-width: f.rem(100);
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}