@use 'sass:map';
@use '../../../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../../../utils/styles/colors.scss';

.body {
    max-width: f.rem(600);
    width: 100%;
    padding: f.rem(40) f.rem(40) f.rem(30) f.rem(40);
    border-radius: f.rem(8);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    background-color: #fff;
    position: relative;
}

.title {
    text-align: center;
    margin-bottom: f.rem(20);
}

.input {
    @include m.input($padding: f.rem(12) f.rem(15) f.rem(12) f.rem(15),
        $width: 100%,
        $borderRadius: f.rem(6),
        $border: 1px solid map.get($colors, 'gray'),
        $backgroundColor: map.get($colors, 'white'),
        $color: map.get($colors, 'black'));
    margin-bottom: f.rem(15);
}

.button {
    width: 100%;
    max-width: 100%;
}

.inputPhone :global(.form-control) {
    width: 100%;
}

.inputPhone {
    margin-bottom: f.rem(15);
}

.close {
    position: absolute;
    top: f.rem(25);
    right: f.rem(15);
    width: 30px;
    height: 30px;
    cursor: pointer;

    &::before {
        content: '';
        display: flex;
        width: 100%;
        height: 2px;
        background-color: map.get($colors, 'black');
        transform: rotate(45deg);
    }

    &::after {
        content: '';
        display: flex;
        width: 100%;
        height: 2px;
        background-color: map.get($colors, 'black');
        transform: rotate(-45deg);
    }
}