@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixins.scss' as m;
@import '../../../../utils/styles/colors.scss';

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0 f.rem(50) 0;
}

.body {
    max-width: f.rem(800);
    width: 100%;
    padding: f.rem(40) f.rem(40) f.rem(30) f.rem(40);
    border-radius: f.rem(16);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    background-color: #fff;
    margin-bottom: f.rem(25);
}

.listImages {
    margin: f.rem(20) 0 f.rem(20) 0;
    gap: f.rem(20);
    display: flex;
    max-width: f.rem(800);
    width: 100%;
    padding: f.rem(20);
    margin-bottom: f.rem(25);

    li {
        max-width: f.rem(100);

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.title{
    margin-bottom: f.rem(15);
}