@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixins.scss' as m;
@import '../../../../utils/styles/colors.scss';

.body {
    max-width: f.rem(400);
}

.form {
    width: 100%;
    border-radius: f.rem(8);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: f.rem(25);
    margin-bottom: f.rem(25);
    background-color: map.get($colors, 'white');
}