$colors: (
    "darkRed": #8C0004,
    "brightRed": #C8000A,
    "amber": #E8A735,
    "sand": #E2C499,
    "charCoal": #2F2F2F,
    "gray": #B0B0B0,
    "black": #000,
    "white": #fff,
    'darkGray': rgb(79, 79, 79),
    "lightGray": #ecebeb,
);