@use 'sass:map';
@use '../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../utils/styles/colors.scss';

.body {
    width: 100%;
    border: 2px solid map.get($colors, 'gray');
    border-radius: f.rem(6);
    padding: f.rem(25);
    margin-bottom: f.rem(50);
}

.title {
    text-align: center;
}

.container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: f.rem(20);
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }
}

.item {
    max-width: f.rem(480);
}

.bodyImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: f.rem(25);
}

.bodyInfo {
    width: 100%;

    h2 {
        text-transform: uppercase;
    }
}


.buttonChange {
    @include m.button($padding: f.rem(12) f.rem(15) f.rem(12) f.rem(15),
        $width: 100%,
        $borderRadius: f.rem(6),
        $border: 0px solid map.get($colors, 'amber'),
        $backgroundColor: map.get($colors, 'amber'),
        $color: map.get($colors, 'white'));
    font-weight: 700;
    margin-right: f.rem(25);
}

.buttonRemove {
    @include m.button($padding: f.rem(12) f.rem(15) f.rem(12) f.rem(15),
        $width: 100%,
        $borderRadius: f.rem(6),
        $border: 0px solid map.get($colors, 'brightRed'),
        $backgroundColor: map.get($colors, 'brightRed'),
        $color: map.get($colors, 'white'));
    font-weight: 700;
    margin-right: f.rem(25);
}

.containerButtons {
    display: flex;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    margin-bottom: f.rem(25);

    p {
        flex: 1 1 auto;
    }
}

.buttonCreate {
    max-width: f.rem(250);
    text-align: center;
    background-color: rgb(58, 176, 58);
}


.bodyItem {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    color: map.get($colors, 'black');
    width: 100%;
    height: 100%;
    padding: f.rem(20) f.rem(25);
}

.containerButtons {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}