@use 'sass:map';
@use '../../../utils/styles/functions.scss' as f;
@import '../../../utils/styles/colors.scss';
@import '../../../utils/styles/adaptive.scss';


.list {
    margin-bottom: f.rem(20);
    display: flex;
    align-items: center;

    a {
        color: map.get($colors, 'black');
        
    }

    li {
        
        &:last-child {
            margin: 0;
        }

        a {
            transition: 0.4s linear;

            &:hover {
                transition: 0.4s linear;
                color: map.get($colors, 'gray') !important;
            }
        }

    }

}

.slide {
    min-width: 150px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperSwiper {
    margin: 0;
    white-space: nowrap;

    >div {
        align-items: center !important;
    }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media (max-width: map.get($adaptive, 'tablet')) {
    .slide {
        width: 140px;
    }
}