@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixins.scss' as m;
@import '../../../../utils/styles/colors.scss';

.resume {
    width: 100%;
}

.title {
    margin-bottom: f.rem(10);
}

.item {
    width: 100%;
    border: 2px solid map.get($colors, 'gray');
    border-radius: f.rem(6);
    padding: f.rem(25);
    display: flex;
    align-items: center;
    margin-bottom: f.rem(15);

    &:last-child {
        margin: 0;
    }
}

.bodyIcon {
    max-width: 80px;
    max-height: 80px;
    margin-right: f.rem(25);

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.container {
    flex: 1 1 auto;

    h3:first-child {
        font-weight: 700;
        font-size: f.rem(22);
    }
}

.bodyExtraInfo {
    h3 {
        margin-bottom: f.rem(10);
    }
}