@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@use '../../../../utils/styles/mixins.scss' as m;
@import '../../../../utils/styles/colors.scss';

.wrapper {
    width: 100%;
    padding: 0 0 f.rem(50) 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin: f.rem(50) 0;
}

.input {
    @include m.input($padding: f.rem(12) f.rem(15) f.rem(12) f.rem(15),
        $width: 100%,
        $borderRadius: f.rem(6),
        $border: 1px solid map.get($colors, 'gray'),
        $backgroundColor: map.get($colors, 'white'),
        $color: map.get($colors, 'black'));
    margin-bottom: f.rem(15);
}

.containerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: f.rem(15);
    text-align: center;
}

.location {
    margin-top: f.rem(20);
}