@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';
@import '../../utils/styles/adaptive.scss';

.wrapper {
    padding: f.rem(100) 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon {
    max-width: f.rem(320);
    max-height: f.rem(250);
    object-fit: cover;
    margin-bottom: f.rem(25);
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1

@media (max-width: map.get($adaptive, 'tablet')) {
    .icon {
        max-width: f.rem(280);
    }
}

@media (max-width: map.get($adaptive, 'ExtraPhone')) {
    .icon {
        max-width: f.rem(100);
    }
}