@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@import '../../../../utils/styles/colors.scss';

.wrapper {
    padding: f.rem(50) 0 f.rem(50) 0;
    flex: 1 1 auto;
    margin-right: f.rem(25);
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: f.rem(30);
}

.wrapper {
    max-width: f.rem(950);
    height: 100%;
    padding: f.rem(50) f.rem(35);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width: 100%;
    border-radius: f.rem(6);
}

.container {
    width: 100%;
    height: 100%;
}

.button {
    width: 100px;
    height: 100px;
    background-color: red;
}