.gallery-carousel .f-button.is-next {
    svg {
        display: none !important;
    }

    position: relative;

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 10px;
        background: url('../../../../assets/global/arrow.svg') no-repeat;
        background-size: 40px;
    }
}
