@use 'sass:map';
@use '../../../../utils/styles/functions.scss' as f;
@import '../../../../utils/styles/colors.scss';
@import '../../../../utils/styles/adaptive.scss';

.itemBody {
    width: 100%;
    padding: f.rem(25) f.rem(30);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    color: map.get($colors, 'black');
    transition: 0.4s linear;

    &:hover {
        transition: 0.4s linear;
        background-color: map.get($colors, 'lightGray');
    }
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: f.rem(0);
    justify-content: flex-end;
}

.list {
    margin-bottom: f.rem(50);

    li {
        margin-bottom: f.rem(25);
        transition: 0.4s linear;

        &:hover {
            transition: 0.4s linear;
            transform: scale(1.01);
        }
    }
}

.title {
    margin-bottom: f.rem(5);
    flex: 1 1 auto;
}

.salary {
    margin-bottom: f.rem(10);
    position: relative;
    padding-left: 35px;

    &::before {
        content: "";
        display: block;
        width: 45px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        background: url('../../../../assets/global/money.svg') no-repeat 15px/25px;
    }
}


.body {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    cursor: pointer;
}

.organisation {
    margin-bottom: f.rem(10);
    position: relative;
    padding-left: 35px;

    &::before {
        content: "";
        display: block;
        width: 45px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        background: url('../../../../assets/global/organization.svg') no-repeat 15px/25px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
}

.iconReviews {
    width: 30px;
    height: 30px;
    margin-right: f.rem(5);
}

.viewes {
    display: flex;
    align-items: center;
}

.date {
    flex: 1 1 auto;
}

.container {
    position: relative;
}

.wrapperInfo {
    display: flex;
    align-items: center;

    img {
        max-width: f.rem(80);
        max-height: f.rem(80);
        margin-right: f.rem(25);
        object-fit: contain;
    }
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
}

.viewes {
    position: absolute;
    top: 0;
    right: 0;
}

.location {
    text-transform: lowercase;
    position: relative;
    padding-left: 35px;

    &::before {
        content: "";
        display: block;
        width: 45px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        background: url('../../../../assets/global/location.svg') no-repeat 15px/25px;
    }
}

.mainInfo {
    display: flex;
    margin-bottom: f.rem(15);
    flex-direction: column;

    p {
        margin-right: f.rem(20);
    }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1

@media (max-width: map.get($adaptive, 'tablet')) {
    .avatar {
        display: none;
    }

    .itemBody {
        padding: f.rem(20);
    }

    .date {
        bottom: -10px;
    }
}

@media (max-width: map.get($adaptive, 'ExtraPhone')) {
    .mainInfo {
        flex-direction: column;

        p {
            margin-bottom: f.rem(5);
        }

        span {
            margin-bottom: f.rem(15);
        }
    }

    .list {
        margin-bottom: f.rem(30);
    }
}