@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';

.body {
    width: 100%;
}

.bodyImageSwiper {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapperSwiper {
    display: flex;
    max-height: f.rem(500);
    height: 100%;
    width: 100%;
}