@use 'sass:map';
@use '../../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../../utils/styles/colors.scss';

.item {
    transition: 0.3s;
    padding: f.rem(11) f.rem(10) f.rem(11) f.rem(10);
    background-color: map.get($colors, 'white');
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
        transition: 0.3s;
        background-color: map.get($colors, 'darkGray');
        color: map.get($colors, 'white');
    }
}

.checkbox {
    margin-right: f.rem(10);
}