@use 'sass:map';
@use '../../../../../../utils/styles/functions.scss' as f;
@use '../../../../../../utils/styles/mixins.scss' as m;
@import '../../../../../../utils/styles/colors.scss';

.bodyHeadInfo {
    margin-bottom: f.rem(50);
}

.containerHeadInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: f.rem(20);
}
