@use 'sass:map';
@use '../../utils/styles/functions.scss' as f;
@import '../../utils/styles/colors.scss';
@import '../../utils/styles/adaptive.scss';

.wrapper {
    padding: f.rem(20) 0 f.rem(50) 0;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: f.rem(30);
}

.body {
    display: flex;
    justify-content: space-between;
    margin-bottom: f.rem(25);
}

.list {
    li:first-child {
        margin-right: f.rem(30);
        display: flex;
        align-items: center;

        svg {
            width: 25px;
            margin-right: f.rem(10);
        }
    }
}


//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media (max-width: map.get($adaptive, 'ExtraTablet')) {
    .body {
        flex-direction: column;
    }

    .wrapper {
        padding: f.rem(40) 0 f.rem(50) 0;
    }
}