@use 'sass:map';
@use '../../../../../../utils/styles/functions.scss' as f;
@import '../../../../../../utils/styles/colors.scss';

.time {
    position: absolute;
    bottom: 10px;
    right: 20px;
    transform: translate(0, -50%);
}